@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-100 font-sans text-neutral-800 antialiased;
}

#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.user-marker {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 9999px;
    border: 2px solid white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    transition: all 0.5s ease;
}

.user-marker img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

.user-marker .name-label {
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

/* Toggle Switch CSS */
.switch { 
    position: relative; 
    display: inline-block; 
    width: 60px; 
    height: 34px; 
}

.switch input { 
    opacity: 0; 
    width: 0; 
    height: 0; 
}

.slider { 
    position: absolute; 
    cursor: pointer; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #ccc; 
    transition: .4s; 
    border-radius: 9999px; /* rounded-full */
}

.slider:before { 
    position: absolute; 
    content: ""; 
    height: 26px; 
    width: 26px; 
    left: 4px; 
    bottom: 4px; 
    background-color: white; 
    transition: .4s; 
    border-radius: 50%; 
}

input:checked + .slider { 
    background-color: #2196F3; 
}

input:checked + .slider:before { 
    transform: translateX(26px); 
}